@model WA1.Models.Hero

@{
    ViewData["Title"] = "Usuń bohatera";
}

<h1>Usuń bohatera</h1>

<h3>Czy na pewno chcesz usunąć tego bohatera?</h3>
<hr />
<dl class="row">
    <dt class="col-sm-2">Nazwa</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

    <dt class="col-sm-2">Imię</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>

    <dt class="col-sm-2">Nazwisko</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>

    <dt class="col-sm-2">Zespół</dt>
    <dd class="col-sm-10">@(Model.Team?.Name ?? "Brak")</dd>

    <dt class="col-sm-2">Kategoria</dt>
    <dd class="col-sm-10">@(Model.Category?.Name ?? "Brak")</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Usuń" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
